.form {
	width: 700px;
background: 
linear-gradient(145deg, #ccc 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ccc 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ccc 25%, transparent 25%),
linear-gradient(35deg, #ccc 25%, transparent 25%);	
background-size: 100px 100px;
background-color: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}